
{% extends 'base.html.twig' %}



  {% block body %}
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Statistique</h5>

            <!-- Line Chart -->
            <canvas id="lineChart"></canvas>
            <script>
              document.addEventListener("DOMContentLoaded", () => {
                new Chart(document.querySelector('#lineChart'), {
                  type: 'line',
                  data: {
                    labels: {{ labels|json_encode|raw }},
                    datasets: [{
                      label: 'Les événements les plus aimés par les utilisateurs',
                      data: {{ data|json_encode|raw }},
                      fill: false,
                      borderColor: 'rgb(75, 192, 192)',
                      tension: 0.1
                    }]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              });
            </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="card-body">
      <h5 class="card-title">Pie Chart</h5>

   
{% endblock %}




   
 

